.about {
  background-color: paleturquoise;
  height: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
}

#about-card {
  width: 50%;
  padding: 10px;
  margin: 2%;
  height: 33%;
}

img {
  width: 100%;
  height: 100%;
}
