.portfolio {
  background-color: rgb(183, 236, 183);
  height: 100%;
  justify-content: left;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.card {
  width: 25%;
  padding: 10px;
  margin: 2%;
  float: left;
}
